.main {
  --main-height: calc(100vh - var(--header-height) - var(--footer-height));

  height: var(--main-height);
  max-height: var(--main-height);
  font-family: var(--font-geist-sans);
  overflow: hidden;

  :global(html.dark) & {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }

  :global(html.light) & {
    --gray-rgb: 0, 0, 0;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.05);
  
    --button-primary-hover: #383838;
    --button-secondary-hover: #f2f2f2;
  }
}
